<div class="container">
  <div class="breadcrumbs">
    <div class="nav navbar-nav nav-links">
      <div class="navbar">
        <ul class="nav navbar-nav nav-links">
          {% if page.parents %}  {% assign cats = page.parents %}{% else %}  {% assign cats = page.categories %}{% endif %}{% for cat in cats %}
          <li>
            {% assign section = site.data.sections[cat] %}<a href="{{ section.url }}">{{ section.display_name }}</a>{% endfor %}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
