.container.search
  #search-container class='dropdown'
    input.form-control type="text" data-toggle='dropdown' id="search-input" placeholder="search..."
      ul id="results-container" class='dropdown-menu dropdown-menu-left results-menu' role='menu'
      
      
      
      